body {
  margin: 0;
  height: 100vh;
  font-size: 1em;
  background: #48abe3;
  font-family: 'Pacifico', cursive;
}

center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
center.row {
  flex-direction: row;
}

/* Animations */
@-webkit-keyframes backToFront {
  from {
    z-index: 0;
  }
  to {
    z-index: 1;
  }
}
@keyframes backToFront {
  from {
    z-index: 0;
  }
  to {
    z-index: 1;
  }
}
@-webkit-keyframes fadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: translate(-13vw, -1vw);
            transform: translate(-13vw, -1vw);
  }
  to {
    -webkit-transform: translate(23vw, 0vw);
            transform: translate(23vw, 0vw);
  }
}
@keyframes orbit {
  from {
    -webkit-transform: translate(-13vw, -1vw);
            transform: translate(-13vw, -1vw);
  }
  to {
    -webkit-transform: translate(23vw, 0vw);
            transform: translate(23vw, 0vw);
  }
}

@media only screen and (max-width: 1300px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(-11vw, -1vw);
            transform: translate(-11vw, -1vw);
  }
  to {
    -webkit-transform: translate(26vw, 0vw);
            transform: translate(26vw, 0vw);
  }
}
}

@media only screen and (max-width: 1000px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(-11vw, -1vw);
            transform: translate(-11vw, -1vw);
  }
  to {
    -webkit-transform: translate(30vw, 0vw);
            transform: translate(30vw, 0vw);
  }
}
}

@media only screen and (max-width: 700px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(-6vw, -1vw);
            transform: translate(-6vw, -1vw);
  }
  to {
    -webkit-transform: translate(33vw, 0vw);
            transform: translate(33vw, 0vw);
  }
}
}

@media only screen and (max-width: 600px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(-6vw, -1vw);
            transform: translate(-6vw, -1vw);
  }
  to {
    -webkit-transform: translate(35vw, 0vw);
            transform: translate(35vw, 0vw);
  }
}
}

@media only screen and (max-width: 500px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(-5vw, -1vw);
            transform: translate(-5vw, -1vw);
  }
  to {
    -webkit-transform: translate(38vw, 0vw);
            transform: translate(38vw, 0vw);
  }
}
}

@media only screen and (max-width: 450px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(-2vw, -1vw);
            transform: translate(-2vw, -1vw);
  }
  to {
    -webkit-transform: translate(38vw, 0vw);
            transform: translate(38vw, 0vw);
  }
}
}


@media only screen and (max-width: 400px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(1vw, -1vw);
            transform: translate(1vw, -1vw);
  }
  to {
    -webkit-transform: translate(40vw, 0vw);
            transform: translate(40vw, 0vw);
  }
}
}

@media only screen and (max-width: 354px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(2vw, -1vw);
            transform: translate(2vw, -1vw);
  }
  to {
    -webkit-transform: translate(41vw, 0vw);
            transform: translate(41vw, 0vw);
  }
}
}

@media only screen and (max-width: 340px) {
  @keyframes orbit {
  from {
    -webkit-transform: translate(6vw, -1vw);
            transform: translate(6vw, -1vw);
  }
  to {
    -webkit-transform: translate(45vw, 0vw);
            transform: translate(45vw, 0vw);
  }
}
}
/* Shapes */
.globe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}
.globe:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid 1em rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  bottom: -.1em;
  right: -.5em;
}
.globe:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.moon {
  width: 7vw;
  margin-left: -5em;
  background: #eea;
  -webkit-animation: orbit 3s ease-in-out alternate infinite;
          animation: orbit 3s ease-in-out alternate infinite;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  z-index: 0;
}
.moon:before {
  bottom: -.5em;
  right: -.7em;
}

.shadow {
  display: flex;
  position: absolute;
  margin-left: -4em;
  margin-top: .6em;
  -webkit-animation: orbit 3s ease-in-out alternate infinite;
          animation: orbit 3s ease-in-out alternate infinite;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
.shadow:after {
  content: '';
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: fadeInOut 3s ease-in-out alternate infinite;
          animation: fadeInOut 3s ease-in-out alternate infinite;
}

.earth {
  width: 27vw;
  background-image: url("P.svg");
  -webkit-animation: backToFront 3s ease-in-out alternate infinite;
          animation: backToFront 3s ease-in-out alternate infinite;
  animation-steps: 2;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 4vw;
  opacity: 0;
}

hr {
	margin: 0;
}

.Web {
	position: absolute;
	left: 15%;
  top: 45%;
	transform: translate(-50%, -50%);
}

.Gam {
	position: absolute;
	left: 25%;
  top: 25%;
	transform: translate(-50%, -50%);
}

.Abo {
	position: absolute;
	left: 85%;
  top: 47%;
	transform: translate(-50%, -50%);
}

.Pro {
	position: absolute;
	left: 75%;
  top: 67%;
	transform: translate(-50%, -50%);
}

.AboText {
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  font-size: 1.5vw;
  font-family: 'Permanent Marker', cursive;
}

#Games {
	display: none;
}

#Home {
}

#Websites {
	display: none;
}

#Projects {
  display: none;
}

#About {
  display: none;
}

#PcGames {
  display: none;
}

#IOSGames {
  display: none;
}

#AndroidGames {
  display: none;
}

.Profile {
  width: 10vw;
}

.profpic {
  position: absolute;
  left: 75%;
  top: 40%;
  transform: translate(-50%, -50%); 
}

@media only screen and (max-width: 1000px) {
  .profpic {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
}

@media only screen and (max-width: 600px) {
.Web {
  position: absolute;
  left: 15%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.Gam {
  position: absolute;
  left: 25%;
  top: 38%;
  transform: translate(-50%, -50%);
}

.Abo {
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Pro {
  position: absolute;
  left: 75%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.AboText {
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  font-size: 1.5vw;
}


.profpic {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

@media only screen and (max-height: 500px) {
  .Web {
  position: absolute;
  left: 15%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.Gam {
  position: absolute;
  left: 25%;
  top: 32%;
  transform: translate(-50%, -50%);
}

.Abo {
  position: absolute;
  left: 85%;
  top: 57%;
  transform: translate(-50%, -50%);
}

.Pro {
  position: absolute;
  left: 75%;
  top: 80%;
  transform: translate(-50%, -50%);
}
}

}

@media only screen and (max-width: 400px) {

.Gam {
  position: absolute;
  left: 25%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.Pro {
  position: absolute;
  left: 75%;
  top: 63%;
  transform: translate(-50%, -50%);
}

.Abo {
  position: absolute;
  left: 85%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.Web {
  position: absolute;
  left: 15%;
  top: 53%;
  transform: translate(-50%, -50%);
}
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 50%;
  transform: translate(-50%,0);
  top: 1vw;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8dc7e0;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFC200;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #696969;  
}

input:checked + .slider:before {
  background: url(moon.svg);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}

